<doctype html>
<title>Add User - Python Flask MySQL CRUD</title>
<h2>Add User</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputsymbol" value="" type="text" placeholder="symbol" autocomplete="off" required>
		</p>
		<p>
			<input name="inputdate" value="" type="text" placeholder="date" autocomplete="off" required>
		</p>
		<p>
			<input name="inputhigh" value="" type="text" placeholder="high" autocomplete="off" required>
		</p>
		<p>
			<input name="inputlow" value="" type="text" placeholder="low" autocomplete="off" required>
		</p>
		<p>
			<input name="inputvolume" value="" type="text" placeholder="volume" autocomplete="off" required>
		</p>
		<p>
			<input name="inputopen" value="" type="text" placeholder="open" autocomplete="off" required>
		</p>
		<p>
			<input name="inputclose" value="" type="text" placeholder="close" autocomplete="off" required>
		</p>	
<!--
		<p>
			<input name="inputPassword" value="" type="password" placeholder="Password" autocomplete="off" required>
		</p>-->
    </dl> 
    <p>
		<!--<input name="id" value="" type="hidden"> -->
		<input type="submit" value="Submit">
	</p>
</form>
